body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: rosybrown;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.mainBanner, .w-100 {
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

.projeto {
    margin-bottom: 20px;
}

